# Flutter
build/
.dart_tool/
.packages
pubspec.lock

# iOS/Android
ios/Pods/
android/.gradle/

# VS Code
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Large files to ignore
*.h5
*.zip
*.tar.gz
backend/archive.zip
backend/models/
